In [79]:
import pandas as pd
from sklearn.linear_model import LinearRegression, Ridge, Lasso
import numpy as np
#import seaborn as sns
#import scipy as sp
#import matplotlib.pyplot as plt
pd.set_option('display.max_rows', 500)

In [151]:
data = pd.read_csv('full_data.csv')

In [142]:
#data['Violent_Crime']=round((data.Violent_Crime/data.Population)*100,3)

In [150]:
data.columns

Index(['None', 'High_School', 'Associates', 'Bachelors', 'Graduate', 'Europe',
       'Asia', 'Africa', 'Oceania', 'Americas', 'Never_Married', 'Married',
       'Divorced', 'Separated', 'Widowed', 'Female', 'Male', 'Black',
       'American_Indian_Alaskan_Native', 'Asian',
       'Native_Hawaiian_Pacific_Islander', 'Hispanic_Latino', 'White', 'Other',
       'Two_or_More', 'Median_Income', 'Unemployment', 'Population',
       'Nursery_Pre-School', 'Kindergarten', '1st_4th', '5th_8th', '9th_12th',
       'Violent_Crime'],
      dtype='object')

In [152]:
data = data.drop('Europe', axis=1)
data = data.dropna()

In [153]:
X = data[['High_School', 'Bachelors', 'Never_Married', 'Married',
       'Divorced', 'Male', 'Black', 'Hispanic_Latino', 'White', 'Unemployment', '5th_8th', '9th_12th']]
y= data["Violent_Crime"]

In [154]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [131]:
from sklearn.preprocessing import StandardScaler
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)

X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)

In [166]:
model = Ridge(alpha=50)

In [167]:
ri =model.fit(X_train, y_train)

In [149]:
import pickle
pickle.dump(ri, open('model.pk','wb'))

In [144]:
#model_run = pickle.load(open('model.pk','rb'))

In [168]:
model.score(X_test,y_test)

0.8624558722401531

In [169]:
from sklearn.metrics import mean_squared_error
rmse = np.sqrt(mean_squared_error(y_test, prediction))
print("RMSE: %f" % (rmse))

RMSE: 210.666269

In [161]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X_test, y_test, cv=5)
scores

array([0.7864218 , 0.46805475, 0.61242142, 0.94939444, 0.93041666])

In [162]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

0.75 accuracy with a standard deviation of 0.19

In [159]:
prediction = model.predict(X_test)
trial=pd.DataFrame(data=np.column_stack((prediction,y_test,(y_test-prediction))),columns=['Prediction','Actual', 'Error'])
trial.head(5)

   Prediction  Actual       Error
0   -7.173267     0.0    7.173267
1  -25.355604     2.0   27.355604
2   -9.092822     1.0   10.092822
3  141.178884    48.0  -93.178884
4  174.493280    43.0 -131.493280

In [96]:
#y_pred_inv =y_scaler.inverse_transform(prediction)

In [99]:
#test3=pd.DataFrame(data=np.column_stack((y_pred_inv,y_test,(y_test-y_pred_inv))),columns=['Prediction','Actual', 'Error'])

      Prediction  Actual       Error
0      -1.278807     3.0    4.278807
1      -0.897480    26.0   26.897480
2      16.834339    12.0   -4.834339
3       0.453991     0.0   -0.453991
4      -2.376686     2.0    4.376686
...          ...     ...         ...
1562  -44.256125    42.0   86.256125
1563   13.461599    14.0    0.538401
1564  220.490499   396.0  175.509501
1565  334.233691   326.0   -8.233691
1566  -10.078321     5.0   15.078321

[1567 rows x 3 columns]