In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error

# Multiple Linear Regression

In [ ]:
data = pd.read_csv('full_data.csv')
data.head()

In [ ]:
data.columns

In [1116]:
data.rename(columns={"None":"No_Degree"},inplace=True)
data.fillna(0,inplace=True)
data.head()

,No_Degree,High_School,Associates,Bachelors,Graduate,Europe,Asia,Africa,Oceania,Americas,...,Two_or_More,Median_Income,Unemployment,Population,Nursery_Pre-School,Kindergarten,1st_4th,5th_8th,9th_12th,Violent_Crime
0,101,356,306,114,47,0.0,0,0,0,0,...,18,30027,56,1293,30,16,72,47,87,2.0
1,440,1874,3645,4032,1952,0.0,304,35,0,0,...,664,41408,251,17861,424,91,1282,995,1277,61.0
2,569,2175,4568,8676,7548,0.0,1115,130,0,0,...,380,51604,390,34163,800,615,2188,2019,2019,30.0
3,870,1928,1858,829,485,0.0,58,0,0,0,...,163,23957,351,8864,52,118,380,498,532,82.0
4,20165,41444,45946,23616,14262,0.0,2070,811,0,0,...,3321,21459,10574,212021,3157,3117,9722,8240,8638,4025.0

In [ ]:
data.columns

In [ ]:
# X = data[['No_Degree', 'High_School', 'Associates', 'Bachelors', 'Graduate',
#        'Europe', 'Asia', 'Africa', 'Oceania', 'Americas', 'Never_Married',
#        'Married', 'Divorced', 'Separated', 'Widowed', 'Female', 'Male',
#        'Black', 'American_Indian_Alaskan_Native', 'Asian',
#        'Native_Hawaiian_Pacific_Islander', 'Hispanic_Latino', 'White', 'Other',
#        'Two_or_More', 'Median_Income', 'Unemployment', 'Population',
#        'Nursery_Pre-School', 'Kindergarten', '1st_4th', '5th_8th', '9th_12th']]

# X = data[['Never_Married',
#        'Married',  'Widowed', 
#           '9th_12th']]


X = data[['Never_Married',
       'Married','Bachelors',  'Unemployment', '5th_8th',
          'Male']]

y=data["Violent_Crime"].values.reshape(-1, 1)
print(X.shape, y.shape)

In [ ]:
# Use train_test_split to create training and testing data
#75% train, 25% test

### BEGIN SOLUTION
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.25, random_state=42)

### END SOLUTION

In [ ]:
#Standardize
from sklearn.preprocessing import StandardScaler

# Create a StandardScater model and fit it to the training data

### BEGIN SOLUTION
X_scaler = StandardScaler().fit(X_train)
y_scaler = StandardScaler().fit(y_train)
### END SOLUTION

In [ ]:
# Transform the training and testing data using the X_scaler and y_scaler models

### BEGIN SOLUTION
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)
y_train_scaled = y_scaler.transform(y_train)
y_test_scaled = y_scaler.transform(y_test)
### END SOLUTION

In [ ]:
# Create the model using LinearRegression

### BEGIN SOLUTION
from sklearn.linear_model import LinearRegression,Ridge
model = Ridge()
### END SOLUTION

In [ ]:
# Fit the model to the training data and calculate the scores for the training and testing data

### BEGIN SOLUTION
model.fit(X_train_scaled, y_train_scaled)
training_score = model.score(X_train_scaled, y_train_scaled)
testing_score = model.score(X_test_scaled, y_test_scaled)

### END SOLUTION 

print(f"Training Score: {training_score}")
print(f"Testing Score: {testing_score}")

In [ ]:
# Plot the Residuals for the Training and Testing data

### BEGIN SOLUTION
plt.scatter(model.predict(X_train_scaled), model.predict(X_train_scaled) - y_train_scaled, c="blue", label="Training Data")
plt.scatter(model.predict(X_test_scaled), model.predict(X_test_scaled) - y_test_scaled, c="orange", label="Testing Data")
plt.legend()
plt.hlines(y=0, xmin=y.min(), xmax=y_train_scaled.max())
plt.title("Residual Plot")
### END SOLUTION

In [ ]:
coef=model.coef_
col = X.columns.tolist()

col

In [ ]:
coef=coef[0]

In [ ]:
coefs = pd.DataFrame(coef,columns=["Coefficients"], index=col)

In [ ]:
coefs

In [ ]:
standard=X_train_scaled.std()
coef_std = standard*coef
coef_std =pd.DataFrame(coef_std,columns=["Coefficients"], index=col)

In [ ]:
coef_std.plot(kind='barh', figsize=(9, 7))
plt.title('Features std. dev.')
plt.subplots_adjust(left=.3)

In [ ]:
from sklearn.model_selection import cross_val_score
scores = cross_val_score(model, X_test_scaled, y_test_scaled, cv=5)
scores

In [ ]:
print("%0.2f accuracy with a standard deviation of %0.2f" % (scores.mean(), scores.std()))

In [ ]:
import seaborn as sns

In [ ]:
plt.figure(figsize=(20,20))
sns.heatmap(data.corr(), annot=True,cmap="coolwarm");

In [ ]:
#

In [ ]:
plt.figure(figsize=(6,15))
sns.heatmap(data.corr().abs()[['Violent_Crime']].sort_values(by=['Violent_Crime'],ascending=False), annot = True, cmap='coolwarm');

In [1117]:

prediction = model.predict(X_test_scaled)
# inv_pred=y_scaler.inverse_transform(prediction)

# RMSE = mean_squared_error(y_test_scaled, inv_pred, squared = False)
# MSE = mean_squared_error(y_test_scaled, inv_pred, squared = True)

# print(RMSE,MSE)

In [1118]:
inv_pred=y_scaler.inverse_transform(prediction)

trial=pd.DataFrame(data=np.column_stack((prediction,y_test_scaled)),columns=['Actual','Prediction'])
trial.head(500)

       Actual  Prediction
0   -0.142995   -0.131749
1   -0.144850   -0.105168
2   -0.133210   -0.121348
3   -0.142887   -0.135216
4   -0.147841   -0.132905
..        ...         ...
495 -0.155114   -0.131749
496 -0.135439   -0.130594
497 -0.143555   -0.129438
498  0.021739    0.020806
499  0.190544    0.196476

[500 rows x 2 columns]

In [1119]:
trial["Error"] = prediction - y_test_scaled

trial.head(500)

       Actual  Prediction     Error
0   -0.142995   -0.131749 -0.011246
1   -0.144850   -0.105168 -0.039683
2   -0.133210   -0.121348 -0.011862
3   -0.142887   -0.135216 -0.007670
4   -0.147841   -0.132905 -0.014936
..        ...         ...       ...
495 -0.155114   -0.131749 -0.023365
496 -0.135439   -0.130594 -0.004845
497 -0.143555   -0.129438 -0.014117
498  0.021739    0.020806  0.000932
499  0.190544    0.196476 -0.005932

[500 rows x 3 columns]

In [1121]:
inv_pred=y_scaler.inverse_transform(prediction)

trial=pd.DataFrame(data=np.column_stack((inv_pred,y_test)),columns=['Prediction','Actual'])
trial["Error"] = prediction - y_test_scaled


trial.head(500)

     Prediction  Actual     Error
0     -6.730765     3.0 -0.011246
1     -8.335639    26.0 -0.039683
2      1.736473    12.0 -0.011862
3     -6.636823     0.0 -0.007670
4    -10.923721     2.0 -0.014936
..          ...     ...       ...
495  -17.216596     3.0 -0.023365
496   -0.192108     4.0 -0.004845
497   -7.215225     5.0 -0.014117
498  135.806714   135.0  0.000932
499  281.867037   287.0 -0.005932

[500 rows x 3 columns]

In [1125]:
trial[trial["Error"]>0.05]

       Prediction  Actual     Error
21     437.276900   230.0  0.239555
22    4262.155497  3958.0  0.351520
34     167.473923     0.0  0.193554
57     906.538488   363.0  0.628180
64     248.121309   151.0  0.112245
...           ...     ...       ...
1538   160.603758    59.0  0.117426
1539    55.803948    10.0  0.052937
1542  1140.326045   981.0  0.184137
1554   171.248035    73.0  0.113548
1565   399.677821   326.0  0.085151

[214 rows x 3 columns]

In [1126]:
data.shape

(6265, 34)

In [ ]:
# input_data = pd.DataFrame([344,
#        308,78,101,48,462]).T
# input_data.columns=col
# input_data.head()

In [ ]:
# new_scaled = X_scaler.transform(input_data)
# new_output = model.predict(new_scaled)
# h=y_scaler.inverse_transform(new_output)
# # summarize input and output
# print(new_scaled, h)

In [ ]:
# ### BEGIN SOLUTION
# h=y_scaler.inverse_transform(y_train_scaled)
# h
# # y_train_scaled